.hidden {
  display: none;
}

* {
  color: white;
}

.content {
  max-width: 900px;
  margin: 15% auto;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-bottom: 0;
  gap: 1em;
  flex-direction: column;
}

.clock-container {
  width: 100%;
  margin-left: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 145px;
}

.clock-container #clock {
  font-size: 80px;
}

input {
  margin-left: 25%;
  font-size: 25px;
  padding: 15px 32px;
}

#login-form {
  width: 100%;
}

.input-style {
  color: black;
}

#greeting {
  margin-left: 30%;
  font-size: 45px;
}

#login-btn {
  margin-left: 5px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

#todo-form input {
  margin-left: 19%;
  width: 400px;
}

#todo-list span {
  font-size: 30px;
  margin-left: 30px;
}

#quote span {
  font-size: 25px;
  margin-left: 5%;
}

.remove-btn {
  margin: 15px;
}

#weather span {
  font-size: 20px;
  font-weight: bold;
}
